[submodule "jinja"]
	path = jinja
	url = https://github.com/pallets/jinja.git
	ignore = dirty
[submodule "markupsafe"]
	path = markupsafe
	url = https://github.com/pallets/markupsafe.git
	ignore = dirty
